## Ex:2 Markdown Cell with the title

# My_Notebook

# Markdown cell in jupyter notebook
There are two types of Notebook. This test based on Markdown.
+ Markdown
+ Code

# Markdown cell create with Introductory Sentence
There are many Languages that are used by Data Scientists, 
Data Analyst and Data Engineers. Some Important list of 
Data Science Language are given Below: 

By Uning Ordered list:

1. Python
2. R and RStudio
3. SQL
4. Julie
5. JavaScript

# Markdown cell, Introductory Sentence with Data Science Labraries
There are many Data Science Labraries that are used by 
Data Scientists, Data Analyst and Data Engineers. Some Important list of 
Data Science Labraries are given Below: 

By Uning Ordered list:

1. Python Libraries
    1.  Scientific Libraries
    2.  Visualization Libraries 
    3.  Machine Learning and Deep-learning Labraries
2. R Libraries 
 
   ggplot2 is a popular library for data visualization.

# Table of Data Science Tools

    | Sr. |  Data Science Tools  |
    |-----|----------------------|
    |  1  | Watson studio by IBM |
    |  2  | IBM Congnos Dashboard|
    |  3  | MySQL                |
    |  4  | Postgre SQL          |
    |  5  | Python               |
    |  6  | RStudio              |

# Markdown Ex:7
## Introduction to Arthmetic Expression

An expression that only contains arithmetics operands and operators 
is called an **Arithmetic experison**.

#### Examples

 + **(3+4)** The sum of numbers in an arithmetic expression
 + **(14-9)** The difference of numbers is an arithmetic expression
 + **(14*2)** The Product of two numbers in arithmetic expression

In [4]:
x=15
y=25
z=x+y
print(z)

40

In [8]:
w= 4*z
print(w)

160

In [9]:
q = w/x
print(q)

10.666666666666666

## Minutes to Hours

Enter Minutes into "min" commad Which you want to find:

In [15]:
min = 240
hours = (min/60)
print(hours)

4.0

# Markdown cell create with Introductory Sentence

## Unordered List
   There are two types of List:
   + Ordered List
   + Unordered List

Example of using Unordered list:
  In "Skill Network Lab" we have several Tool bar options
   + File
   + Edit
   + View
   + Run
   + Kernel
   + Diagram

## Author

   + IBM Team
   


## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 13-07-2023        | 0.1     | IBM Team     | Created Initial version    |